@use '../function' as f;

.card {
  max-width: 35ch;
  @include f.neumorph-primary(f.$d);
  background-color: var(--primary-color);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: clip;
  .bg {
	aspect-ratio: 1 / 1;
	width: 100%;
	position: relative;
	img {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	}
	.chopped {
	  mix-blend-mode: color;
	  background-color: var(--primary-color);
	}
  }
  .description {
	width: 100%;
	background-color: var(--primary-color);
	position: relative;
	.title {
	  position: absolute;
	  padding: 0.3em 0.6em;
	  width: clamp(16ch, 16ch, 100%);
	  margin: 0;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  @include f.neumorph-primary(f.$d);
	  @include f.round;
	  text-align: center;
	  font-weight: bold;
	  color: var(--secondary-color);
	  cursor: default;
	}
	.title:hover {
	  @include f.large-shadow-secondary;
	  color: var(--primary-color);
	}
	p {
	  margin: 1.5em 0.6em 0.6em 0.6em;
	  text-align: center;
	  color: var(--secondary-color);
	}
  }
}
