@use '../function' as f;

.confidence {
  width: clamp(25ch, 50ch, 100%);
  padding: 0;
  color: var(--secondary-color);
  @include f.neumorph-primary(f.$d);
  border-radius: 0.4em;
  overflow: clip;
  .header {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	color: var(--primary-color);
	@include f.large-shadow-secondary;
	margin: 0;
	padding: 0.6em 1em;
  }
  .confs {
	.frame {
	  margin: 0 1em;
	  display: flex;
	  align-items: center;
	  .language {
		display: inline-block;
		font-weight: bold;
		width: 30%;
	  }
	  .bar {
		display: inline-block;
		height: 1em;
		width: 65%;
		border-radius: 1em;
		overflow: clip;
		@include f.neumorph-both-primary(f.$d);
		.progress {
		  height: 100%;
		  @include f.large-shadow-secondary;
		  @include f.round;
		}
	  }
	}
  }
}
