@use '../function' as f;

.sinfo {
  width: clamp(20em, 50em, 100%);
  @include f.neumorph-inset-primary(calc(f.$d * 0.75));
  border-radius: 0.5em;
  color: var(--secondary-color);
  padding: 0;
  .row {
	display: flex;
	align-items: center;
	margin: 1.5em 1em;
	.key {
	  width: 20%;
	}
	.delim {
	  width: 5%;
	}
	.value {
	  display: flex;
	  align-items: center;
	  span {
		display: flex;
		align-items: center;
	  }
	}
	.goto {
	  color: var(--secondary-color);
	}
	.goto:hover {
	  color: var(--primary-color);
	  @include f.large-shadow-secondary;
	}
	.minfo {
	  margin-left: 0.5em;
	  .ic {
		margin: 0;
		padding: 0;
		width: 100%;
		@include f.round;
		fill: var(--secondary-color);
	  }
	}
	.minfo:hover {
	  .ic {
		fill: var(--primary-color);
		@include f.large-shadow-secondary;
	  }
	}
  }
  .row:not(:last-child) {
	border-bottom: dotted 0.1em var(--secondary-color);
  }
}

.ic {
  height: 1em;
  fill: var(--secondary-color);
  aspect-ratio: 1 / 1;
  margin-left: 0.5em;
}

@media (orientation: portrait) {
  .row {
	flex-direction: column;
  }
}
