.description {
  background-color: var(--primary-color);
  max-width: 30ch;
  padding: 0 1em;
  border-radius: 0.2em;
  border: solid 0.25em var(--on-primary);
  font-size: 1.1em;
  font-weight: bold;
  text-align: justify;
  box-shadow: 0.5em 0.5em 0 0 var(--on-primary);
  a {
	color: var(--secondary-color);
	padding: 0 0.1em;
  }
  a:hover {
	background-color: var(--on-primary);
  }
}

.description:first-child, .description:last-child {
  grid-column: 1 / 3;
  max-width: 90%;
}

@media (orientation: portrait) {
  .description:first-child {
	grid-column: 1 / 2;
  }
  .description:last-child {
	grid-column: 1 / 2;
  }
}

