@use '../function' as f;

.body {
  position: relative;
  max-width: 50ch;
  padding: 0 1em;
  font-size: 1.1em;
  font-weight: bold;
  text-align: justify;
  color: var(--secondary-color);
  @include f.neumorph-inset-primary(calc(f.$d * 0.75));
  border-radius: 0.4em;
  a {
	color: var(--secondary-color);
	padding: 0 0.1em;
  }
  a:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
  }
  .title {
	position: absolute;
	padding: 0.2em 1em;
	@include f.neumorph-primary(calc(f.$d * 0.75));
	@include f.round;
	transform: translate(0, -50%);
  }
  .description {
	padding: 0.5em 0.2em 0.05em 0.2em;
  }
}


