.container {
    background-color: #2e3047;
    font-family: Roboto;
    padding: 20px;
}

h1, h3, h5 {
    color: white;
    margin: 12px;
}

h1 {
    font-style: bold;
}

h3, h5 {
    font-weight: normal;
}

span {
    font-weight: bolder;
}
