@use './function' as f;

:root {
  --primary-color: #d0cab7;
  --primary-darken-sha: black;
  --primary-lighten-sha: black;
  --secondary-color: #282828;
  --secondary-darken-sha: cyan;
  --secondary-lighten-sha: cyan;

  --inner-radius: 5px;
  --outer-radius: calc(var(--inner-radius) + 5px);
  --outer-gap: 25px;
  --inner-gap: 20px;
  --border-width: 3px;
  --transition-du: 0.2s;
  --mobile-width: 400px;
}

.main-page {
  position: relative;
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  width: 100%;
  overflow: scroll;
}
