:root {
  // gruvbox B&W
  --primary-color: #d0cab7; // #d5c4a1
  --on-primary: #282828;
  --secondary-color: #2A3853;

  // red gruvbox
  //--primary-color: #cc241d;
  //--on-primary: #1d2021;
  //--secondary-color: #ebdbb2;

  // palenight B&W
  //--primary-color: #c792ea;
  //--on-primary: #202331;
  //--secondary-color: #82aaff;

  --inner-radius: 5px;
  --outer-radius: calc(var(--inner-radius) + 5px);
  --outer-gap: 25px;
  --inner-gap: 20px;
  --border-width: 3px;
  --transition-du: 0.2s;
  $mobile-width: 60ch;
}

.main-page {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  padding: 0;
}

.navbar {
  display: flex;
  position: sticky;
  height: 5em;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  transition-duration: var(--transition-du);
  padding: 0;
  background-color: var(--primary-color);
  box-shadow: 0 0.2em 0.2em 0.25em rgba(0, 0, 0, 0.3);
  border-bottom: solid 0.25em var(--on-primary);
  .nav-item {
	display: inline-block;
	cursor: default;
	margin: 0px 25px;
	font-weight: bold;
	font-variant: small-caps;
    background-color: var(--secondary-color);
    border: solid 0.2em var(--on-primary);
    border-radius: 3em;
    padding: 0.5em 1em;
	transition: var(--transition-du) ease-in;
	transform: translate(-6%, -6%);
	box-shadow: 6px 6px 0 0 var(--on-primary);
	a {
	  text-decoration: none;
	  color: var(--on-primary);
	}
	i {
	  transition-duration: 2s;
	}
  }
  .nav-item:hover {
	background-color: var(--on-primary);
	color: var(--secondary-color);
	transform: translate(0, 0);
	box-shadow: none;
	a {
	  color: var(--secondary-color);
	}
  }

  .nav-item:last-child:hover {
	.dropdown-menu {
	  display: block;
	}
  }
}

.banner-cont {
  position: relative;
  height: 100%;
  width: 5em;
  margin-left: 3em;
  svg {
	position: absolute;
	top: 0;
	height: 123%;
	width: 100%;
    #banner {
      transition-duration: 0.3s;
      path {
		transition-duration: 0.3s;
        fill: var(--on-primary);
      }
    }
	#banner:hover {
	  path {
		fill: transparent;
	  }
	}
  }
}

.dropdown {
  position: relative;
  .dropdown-btn {
	background-color: transparent;
	border: none;
	border-radius: 3em;
	font-variant: small-caps;
	font-weight: bold;
  }
  .dropdown-menu {
	color: var(--on-primary);
	position: absolute;
	display: none;
	right: 0;
	top: 100%;
	background-color: var(--secondary-color);
	padding: 0;
	border: solid 0.2em var(--on-primary);
	.dropdown-item {
	  margin: 0;
	  box-sizing: border-box;
	  display: block;
	  padding: 0.5em 1em;
	  border: solid 0.2em var(--on-primary);
	}
	.dropdown-item:hover {
	  background-color: var(--on-primary);
	  color: var(--secondary-color);
	}
  }
}

.content {
  max-width: 100ch;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 2em;
  align-items: center;
  justify-items: center;
  transition: ease-out 0.5s;
}

@media (orientation: portrait) {
  .content{
	grid-template-columns: 1fr;
  }
  .nav-item:first-child {
	display: none;
  }
}
